
@media only screen and (min-width: 600px) {
  /*tablet*/
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /*desktop*/
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  text-align: center;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  background-color: white;
  align-items: center;
}

div a{
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.btn-menu{
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#menu{
  width: 100%;
  display: flex;
  flex-direction: flex;
  list-style: none;
}

li a{
  padding: 15px 30px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  transition: .3s ease;
}

li a:hover{
  color: #ccc;

}

section{
  background-color: #17dfc4;
  color: aliceblue;
  font-size: 35px;
  padding: 60px;
  text-align: center;
}
body{
  background-color: aliceblue;
  list-style: none;
}
      
h2, img, video{
  padding: 10px;
}

p, footer p, #act li{
  padding: 5px;
}

footer, img, #act{
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /*moblie phone*/
  [class*="col-"]{
    width: 100%;
  }
  nav {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  h1{
    margin: 20px 0;
  }
  .btn-menu{
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  #menu{
    width: 100px;
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: .3s ease;
  }
  li a{
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
  }

}
